section{
    .container{
        .row{
            .sec-header{

            }
            .form-cnt{
                .contact-form{
                    .form-group{
                        width: 100%;
                        display: flex;
                            // flex-direction: row;
                            label{
                                width: 20%;
                            }
                        div{
                            width: 60%;
                            input{
                                width: 100%;
                            }
                            textarea{
                                width: 100%;
                            }
                        }
                    }
                }
            }
        }
    }
    @media screen and (max-width:640px) {
    
            .form-group{
                width: 100%;
                display: block;
                    label{
                        width: 20%;
                    }
                div{
                    width: 100%;
                    input{
                        width: 100%;
                    }
                    textarea{
                        width: 100%;
                    }
                }
            }
                
        }
    
}