<div class="wave-space"></div>
<footer class="footer">
    <div class="waves">
        <div class="wave" id="wave1"></div>
        <div class="wave" id="wave2"></div>
        <div class="wave" id="wave3"></div>
        <div class="wave" id="wave4"></div>
        <div class="wave" id="wave5"></div>
    </div>
    <ul class="social-networks square spin-icon">
        <li><a href="https://www.linkedin.com/" class="icon-linkedin">LinkedIn</a></li>
        <li><a href="https://twitter.com/" class="icon-twitter">Twitter</a></li>
        <li><a href="https://www.facebook.com/" class="icon-facebook">Facebook</a></li>
        <li><a href="https://twitch.tv" class="icon-twitch">Twitch</a></li>
        <li><a href="https://github.com" class="icon-github">GitHub</a></li>
        <li><a href="https://pinterest.com" class="icon-pinterest">Pinterest</a></li>
        <li><a href="https://instagram.com" class="icon-instagram">Instagram</a></li>
        <li><a href="https://vimeo.com" class="icon-vimeo">Vimeo</a></li>
    </ul>
    <ul class="menu">
        <li class="menu__item"><a class="menu__link" href="#">Home</a></li>
        <li class="menu__item"><a class="menu__link" href="#">About</a></li>
        <li class="menu__item"><a class="menu__link" href="#">Services</a></li>
        <li class="menu__item"><a class="menu__link" href="#">Team</a></li>
        <li class="menu__item"><a class="menu__link" href="#">Contact</a></li>
    </ul>
    <p>&copy;2022 Bharath R | All Rights Reserved</p>
</footer>