/* You can add global styles to this file, and also import other style files */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    width:calc(100vw - (100vw - 100%));
}

section, hr{
    width: 65%;
    margin: 20px auto;
}

@media screen and (max-width:642px) {
    section, hr{
        width: 90%;
    }
}

.br{
    border: 1px solid black;
}